*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.header {
    background-image: url(../images/header_bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    min-height: 100vh;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    background: #C40B0B;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.header__inner {
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.header__info {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
}

.call-us {
    margin: 0 30px 0 60px;
    position: relative;
}

.watch {
    position: relative;
}

.watch::before {
    content: '';
    background-image: url(../images/watch.png);
    position: absolute;
    width: 24px;
    height: 24px;
    left: -30px;
    top: 3px;
}

.call-us::before {
    content: '';
    background-image: url(../images/phone.png);
    position: absolute;
    width: 24px;
    height: 24px;
    left: -30px;
    top: 3px;
}

.menu__box {
    padding: 20px 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {}

.menu__list {
    display: flex;

}

.menu__item+.menu__item {
    margin-left: 37px;
}

.menu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #02133C;
    transition: color .5s;

}

.menu__link:hover {
    color: #C40B0B;
}

.search,
.basket {
    cursor: pointer;
}

.basket {
    margin-left: 22px;
    position: relative;
}


.basket__count {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #C40B0B;
    position: absolute;
    top: -14px;
    right: -7px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content {
    margin-top: 15%;
}

.header__title {
    font-size: 56px;
    line-height: 56px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 48px;
}

.main {
    background: #F5F5F5;
}

.who-we {
    margin-bottom: 100px;
}

.who-we__box {
    padding: 100px 87px;
    background-image: url(../images/gears.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    position: relative;
    top: -50px;
    z-index: 1;
}

.subtitle {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4B4B4B;
    font-weight: 700;
    position: relative;
    padding-left: 30px;
}

.subtitle::before {
    content: '';
    background-image: url(../images/mark.png);
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    left: 0;
    top: 5px;
}

.title {
    margin: 35px 0;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
}

.who-we__text {
    margin-bottom: 55px;
}

.who-we__box img {
    position: relative;
    margin-top: -265px;
    bottom: -250px;
}

.promises {
    padding: 110px 0;
}

.promises-box__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

.promises_item {
    width: 324px;
    display: flex;

}

.promises_item+.promises_item {
    margin-left: 24px;
}

.item_img {
    margin-right: 23px;
}

.banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.banner__inner {
    margin-left: auto;
    width: 411px;
    padding-top: 110px;
}

.banner__title {
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    font-weight: 900;

}

.banner__inner img {
    cursor: pointer;
}

.services {
    padding: 100px 0;
    background: url(../images/services-bg.png) no-repeat top left, url(../images/services-bg2.png) bottom right no-repeat;
}

.services__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box__item {
    padding: 50px 44px;
    width: 324px;
    background: #fff;
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
}

.services-box__title {
    margin-top: 33px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
}

.box__item:hover {
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24);
}

.service_btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.appointment {
    padding: 130px 0;
    background: no-repeat url(../images/appointment_bg1.png) top right, no-repeat url(../images/appointment_bg2.png) bottom left;
    background-color: #02133C;
}

.appointment__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment__form-box {
    width: 585px;
    padding: 76px 57px;
    background-color: #fff;
}

.appointment__form {
    /* display: flex;
    justify-content: space-between; */
}

.appointment__input {
    width: 224px;
    background: #F5F5F5;
    border: none;
    padding: 16px 14px;
    margin-bottom: 22px;
}

.first__input,
.thirt__input {
    margin-right: 18px;
}

.appointment__textarea {
    width: 100%;
    border: none;
    background: #F5F5F5;
    height: 180px;
    padding: 17px 14px;
}

.appointment__input::placeholder,
.appointment__textarea::placeholder {
    color: #959595;
}

.appointment__btn {
    display: block;
    margin-left: auto;
    margin-top: 30px;
}

.appointment__content {
    /* margin-left: 110px; */
    width: 324px;
}

.appointment__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 46px;
}

.appointment__count {
    font-weight: 900;
    font-size: 96px;
    line-height: 56px;
    color: #C40B0B;
}
.appointment__text {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #fff;
    margin-top: 46px;
}

.gallery{
    padding-bottom: 240px;
    background-image: url(../images/gallery-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    
}
.gallery__box{
    background-color: #fff;
    padding: 100px 87px 0 87px;
}
.gallery__nav{
    margin-top: 20px;
}
.gallery__menu{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D8D8D8;
}
.gallery__menu-item{
    padding-bottom: 15px;
    padding: 15px 40px;
    border-bottom: 2px solid #fff;
    transition: all .5s;
    cursor: pointer;
    display: block;
}
.active.gallery__menu-item, .gallery__menu-item:hover {
    border-bottom: 4px solid #C40B0B;
    margin-bottom: -2px;  
}
.gallery__menu-item__link{
    text-decoration: none;
    transition: color .5s;
    position: relative;
}
.gallery__menu-item__link:hover, .active>.gallery__menu-item__link{
    color: #C40B0B;
    font-weight: 500;
}
.gallery__menu-item__link span::after{
    content: '';
    width: 6px;
    height: 6px;
    background: #21C613;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: -10px;
}
.gallery__content{
    margin-top: -80px;
    position: relative;
    bottom: -120px;
}
.customers{
    padding-bottom: 210px;
}
.customers__inner{
    display: flex;
    justify-content: space-between;
}
.customers__text{
    margin-right: 24px;
}
.customers__box{
    display: flex;
    justify-content: space-between;
}
.customers__item{
    width: 324px;
    padding: 50px 44px 40px 44px;
    background-color: #fff;
}
.customers__item+.customers__item{
    margin-left: 24px;
}
.customers__person{
    margin-top: 28px;
    display: flex;
    align-items: center;
}
.person__name{
    margin-left: 17px;
}

.impact{
    background-color: #02133C;
    
}
.impact__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.impact__text{
    margin-bottom: 40px;
}
.impact__top .title{
    color: #fff;
}
.impact__top .subtitle{
    color: #D5D5D5;
}

.impact__img{
    position: relative;
    bottom: 80px;
}
.impact__statistic{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.impact__item{
    display: flex;
    justify-content: space-between;
}
.impact__item img{
    max-height: 76px;
}
.impact__item p{
    color: #F5F5F5;
    margin-left: 10px;
}
.impact__item span{
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color:#C40B0B;
    display: block;
}
.impact__subscribe{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 45px 70px;
    position: relative;
    bottom: -65px;
}

.subscribe__text{
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}
.footer{
    background-color: #F5F5F5;
    padding-top: 82px;
    font-size: 14px;
    line-height: 22px;
}
.footer-top__inner{
    display: flex;
    justify-content: space-between;
}
.footer__top{
    padding: 78px 0 150px 0;
}
.footer__info{
    width: 25%;
}
.footer__info p{
    margin-top: 23px;
    margin-bottom: 33px;
}
.social-icon{
    display: flex;
    list-style: none;
}
.social__item+.social__item{
    margin-left: 18px;
}

.footer__title{
    font-weight: 700;
    margin-bottom: 28px;
    margin-top: 15px;
}
.links__wrap{
    display: flex;
    justify-content: space-between;
}
.footer__links{
    width: 24%;
}

.footer__links-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
    flex-wrap: wrap;
}

.footer__links-item+.footer__links-item{
    margin-top: 12px;
}

.footer_item-link{
    text-decoration: none;
    font-weight: 700;
    color: #4B4B4B;
    transition: color .5s;
}
.footer_item-link:hover{
    color:#C40B0B;
}
.footer__contacts{
    font-size: 14px;
    line-height: 20px;
    width: 22%;
}
.contacts__item{
    display: flex;    
    align-items: flex-start;
}
.contacts__item+.contacts__item{
    margin-top: 16px;
}
.contacts__item img{
    padding-right: 18px;
}

.footer__bottom{
    background-color: #02133C;
    color: #959595;
    padding: 24px 0 18px 0;
}
.footer__bottom-inner{
    display: flex;
    justify-content: space-between;
}
